# Ignorar entorno virtual
.venv/
venv/

# Ignorar caché de Python
**/__pycache__/
*.pyc

# Ignorar la base de datos local (importante para no sobreescribir la del servidor)
instance/
*.db

# --- ESTA ES LA REGLA PARA TEMP ---
static/temp/*
!static/temp/.gitkeep

# Ignorar archivos temporales
app/static/temp/*
app/static/uploads/*.jpeg
app/static/uploads/*.png