<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/colegios/estilos_colegios.css') }}">
     <meta name="csrf-token" content="{{ csrf_token() }}">
</head>

<body class="bg-light">
    
    <nav class="navbar navbar-expand-lg navbar-dark navbar-perfil mb-4 shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center fw-bold fs-3" href="{{ url_for('colegios.mostrar_colegios') }}">
            <i class="bi bi-bank2 me-2"></i> GESTION DOCUMENTAL PROCESOS SECOP II
        </a>

        {% if current_user.is_authenticated %}
        <div class="d-flex align-items-center ms-auto">
            <div class="me-3">
            <button type="button" 
                    class="badge bg-light text-dark p-2 shadow-sm border-0" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modalPerfilUsuario"
                    style="cursor: pointer;">
                <i class="bi bi-person-fill me-1"></i> 
                {{ current_user.username | capitalize }}
            </button>
        </div>

    
        </div>
        {% endif %}
    </div>
</nav>

    <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }} 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container mt-4">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
            <h2 class="text-primary fw-bold mb-3 mb-md-0">Listado de Colegios</h2>

            <div class="d-flex align-items-center gap-2">
                <form class="d-flex" role="search" method="GET" action="{{ url_for('colegios.mostrar_colegios') }}">
                    <div class="input-group">
                        <input class="form-control search-input" type="search" placeholder="Buscar colegio..." aria-label="Buscar">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>

                <a href="{{ url_for('proveedores.listar_proveedores') }}" class="btn btn-outline-primary shadow-sm">
                    <i class="bi bi-truck me-1"></i> Proveedores
                </a>

            </div>
        </div>

        <hr class="text-muted opacity-25">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="contenedorColegios">
    </div>

<div class="d-flex justify-content-center mt-5">
    <nav>
        <ul class="pagination shadow-sm" id="paginacionColegios"></ul>
    </nav>
</div>
         {% include "colegios/_cambio_contraseña.html" %}
        {% include "colegios/_form_colegio.html" %}
        
        {% include "perfil_usuarios/_modal_perfil.html" %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/colegios/busqueda_colegios.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colegios/editar_colegios.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colegios/cambio_contraseña.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin_usuarios/sesion_usuarios.js') }}"></script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if current_user.is_authenticated %}
            // Le pasamos la URL generada por Flask
            inicializarSeguridadSesion("{{ url_for('auth.logout') }}");
        {% endif %}
    });
</script>
</body>
</html>