<div class="modal fade" id="modalFiltrosExcel" tabindex="-1" aria-labelledby="modalFiltrosExcelLabel" aria-hidden="true" style="z-index: 1060;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header bg-success text-white py-3">
                <h5 class="modal-title fw-bold" id="modalFiltrosExcelLabel">
                    <i class="bi bi-file-earmark-excel me-2"></i>Configurar Informe Excel
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form id="formFiltrosExcel">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label small fw-bold">Fecha Inicio</label>
                            <input type="date" class="form-control" id="fechaInicioExcel">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label small fw-bold">Fecha Fin</label>
                            <input type="date" class="form-control" id="fechaFinExcel">
                        </div>
                        <div class="col-12">
                            <label class="form-label small fw-bold">Tipo de Contrato</label>
                            <select class="form-select" id="tipoContratoExcel">
                                <option value="">Todos los tipos</option>
                                <option value="SUMINISTROS">Suministros</option>
                                <option value="HONORARIOS">Honorarios</option>
                                <option value="PRESTACION DE SERVICIOS">Prestcion de servicios</option>
                            </select>
                        </div>

                        <div class="col-12 mt-3">
                         <label class="form-label small fw-bold">Rubro Presupuestal</label>
                          <select class="form-select" id="rubroExcel">
                           <option value="">Todos los rubros</option>
                           <option value="2.1.2.02.01.003.0.1">MATERIALES Y SUMINISTROS INSTITUCIONALES</option>
                           <option value="2.1.2.02.02.007.03">GASTOS PÓLIZA DE MANEJO</option>
                           <option value="2.1.2.02.02.008.01">HONORARIOS PROFESIONALES</option>
                           <option value="2.1.2.02.02.008.02">REMUNERACIONES POR SERVICIOS TECNICOS</option>
                           <option value="2.1.2.02.02.008.05">IMPRESOS Y PUBLICACIONES</option>
                           <option value="2.1.2.02.02.008.06">SERVICIO DE MANTENIMIENTO</option>
                           <option value="2.3.2.01.01.003.02">MAQUINARIA DE OFICINA CONTABILIDAD E INFORMATICA</option>
                           <option value="2.3.2.02.02.009.02">ACTIVIDADES PEDAGOGICAS, CIENTIFICAS, DEPORTIVAS Y CULTURALES</option>
                          </select>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-light fw-bold" data-bs-dismiss="modal">CANCELAR</button>
                <button type="button" class="btn btn-success fw-bold" onclick="ejecutarDescargaExcel()">
                    <i class="bi bi-download me-1"></i> GENERAR ARCHIVO
                </button>
            </div>
        </div>
    </div>
</div>